body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cc3817;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}
#navbar{
    padding: 10px;
    color: black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    width: 99%;
    text-align: center;
    margin-right: 500px;
    font-weight: bold;
    border: 1px solid #cc3817;
}

#navbar>li{
    font-size: 120%;
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

#navbar>li>a{
    color: black;
    text-decoration: none;
    font-size: 25px;
}

i{
    color: black;
    font-size: 25px;
}

#navbar>li>a:hover i{
    color: #cc3817;
    transition: all 0.5s;
}
#navbar>li>a:hover{
    color: #cc3817;
    transition: all 0.5s;
}



#contact-content{
    position: absolute;
    right: 920px;
    top: 145px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 10px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s;
    text-align: left;
    border: 1px solid #cc3817;
}

#contact-content>ul>li{
    padding-top: 15px;
    display: block;
    list-style-type: none;
    margin-left: -40px;
    margin-top: -15px;
    margin-bottom: 10px;
}

.dropdown>#contact-content>ul>li>a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#contact-content>ul>li>a>i{
    color: black;
    font-size: 100%;
    padding-right: 10px;
    font-size: 30px;
}
.dropdown:hover #contact-content{
   opacity: 1;
    visibility: visible;
}
.dropdown:hover #contact-content>ul>li>a:hover{
    color: #cc3817;
    transition: all 0.5s;
}
.dropdown:hover #contact-content>ul>li>a:hover i{
    color: #cc3817;
    transition: all 0.5s;
}
.dropdown>a>#dropIcon{
    color: #cc3817;
    transition: all 1s;
}
.dropdown:not(:hover).dropdown>a>#dropIcon{
    color: black;
    transform: rotate(180deg);
    transition: all 0.5s;
}






    



















